.dub
__dummy.html
*.o
*.obj
*.userprefs
*dub.selections.json

examples/webBookstore/dub.selections.json

libcrate-d.a

tests/crMongoList/crmongolist

tests/crSimpleList/crsimplelist

__test__library__

examples/webCalendar/calendarexample

examples/webBookstore/webbookstore
