body {
	margin-left: 300px;
}

body > .row {
	max-width: 1200px;
	margin: auto;
	width: calc(100% - 40px)
}


.tableOfContents {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
	overflow: auto;

	background-color: #f5f5f5;
}

.tableOfContents h2 {
	font-size: 16px;
	margin-left: 10px;
}

.tableOfContents ul {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}

.tableOfContents ul li {
	line-height: 40px;
}

.tableOfContents li img {
	width: 20px;
	position: relative;
	left: -20px;
	cursor: pointer;

	transition: transform 0.2s ease-out;
	-webkit-transition: transform 0.2s ease-out;
}

.tableOfContents li.open > .group > img,
.tableOfContents li.open > .group:hover > img {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}

.tableOfContents li > .group:hover > img {
	transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
}

.tableOfContents li img + a{
	position: relative;
	left: -20px;
}

.tableOfContents ul .group {
	display: inline-block;
	margin-left: 10px;
}

.tableOfContents .group + ul {
	margin-left: 20px;
	max-height: 0;
	overflow: hidden;


	transition: max-height 0.2s ease-out;
	-webkit-transition: max-height 0.2s ease-out;
}

.tableOfContents .open > .group + ul {
	max-height: 1000px;
	overflow: hidden;
}

.tableOfContents li .group {
	padding-left: 10px;
}

.tableOfContents li .group a:hover {
	text-decoration: none;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 18px;
}

.keyword {
	color: #0a3;
}

.string {
	color: #c03;
}