.arrayViewAsForm .sample {
	display: none;
}

.arrayViewAsForm {
	margin-bottom: 80px;
}

.arrayViewAsForm > ol {
	margin: 0;
	padding: 0;
}


.arrayViewAsForm > ol > li {
	padding: 15px;
	background: rgba(230,230,230,0.3);
	border-bottom: 1px solid #fff;
	font-size: 20px;
	line-height: 0;
	position: relative
}

.arrayViewAsForm > .footer {
	margin-top: 10px;
	text-align: center;
}

.arrayViewAsForm > ol > li > div {
	font-size: 14px;
	line-height: 1.5em;
}

.arrayViewAsForm > ol > li > div > .tools {
	text-align: right;
}

.arrayViewAsForm > ol > li > .btn-add {
	position: absolute;
	left: calc( 50% - 16px );
	top: -16px;
	display: none;
}

.arrayViewAsForm > ol > li > .btn-remove {
	position: absolute;
	right: -16px;
	top: calc( 50% - 16px );
	display: none;
}

.arrayViewAsForm > ol > li:hover > .btn-add {
	display: inline-block;
}

.arrayViewAsForm > ol > li:hover > .btn-remove {
	display: inline-block;
}

.arrayViewAsForm > .message {
	display: none;
	text-align: center;
}
.arrayViewAsForm.empty > .message {
	display: block;
}